<div id='firechat-wrapper'>
    Login with <a href='#' onclick='login("google");'><i class="fa fa-google-plus" aria-hidden="true"></i></a>, <a href='#' onclick='login("facebook");'><i class="fa fa-facebook-official" aria-hidden="true"></i></a>, <a href='#' onclick='login("github");'><i class="fa fa-github" aria-hidden="true"></i></a>
</div>
<script>
    // Create a new Firebase reference, and a new instance of the Login client
      var chatRef = new Firebase("https://bubblesbcw.firebaseio.com/chat");
      chatRef.onAuth(function(authData) {
        // Once authenticated, instantiate Firechat with our user id and user name
        if (authData) {
          var chat = new FirechatUI(chatRef, document.getElementById('firechat-wrapper'));
          chat.setUser(authData.uid, authData[authData.provider].displayName);
        }
      });
      function login(provider) {
        chatRef.authWithOAuthPopup(provider, function(error, authData) {
          if (error) {
            console.log(error);
          }
        });
      }
      function initChat(authData) {
  var chat = new FirechatUI(chatRef, document.getElementById('firechat-wrapper'));
  chat.setUser(authData.uid, authData[authData.provider].displayName);
}
</script>