<div class="container">
  <h2>Common Wall</h2> 
  <h4>Turn Five Words into Many</h4>
  Name:
  <br>
  <input type="text" ng-model="filter.name" /> {{filter.name}}
  <br>

  <ul>
    <li ng-repeat="cust in customers | filter: filter.name | orderBy:'name'">
      {{cust.name}} - {{cust.city}}
    </li>
  </ul>

  <br> Where:
  <br>
  <input type="text" ng-model="newWhere.name" />
  <br>
  <button ng-click="addLocation()">Search Google Maps</button>
  <br>
  
  
  <br>
  <input type="text" ng-model="newWhere.city" />
  <br>
  <br>Seriously though... don't be a stranger. Who are you?
  <br>
  
  <!-- Just in case we want a second view for some reason use this below -->
  <!--<a href="#/view2">View 2</a>-->
</div>