bubbles:last-of-type{
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;

}
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 112px solid transparent;
    border-right: 112px solid transparent;
    position: absolute;
    top: -30px;
    left: 0%;
}
.hex {
    margin-top: 30px;
    width: 16em;
    height: 6em;
    background-color: #6C6;
    position: relative;
}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 112px solid transparent;
    border-right: 112px solid transparent;
    left: 0%;
}

.bubble0
{
position: relative;
width: 13em;
height: 4em;
padding: 0px;
background: #45AE66;
-webkit-border-radius: 32px;
-moz-border-radius: 32px;
border-radius: 32px;
border: #00467F solid 6px;
margin-top: 2em;
}
.bubble0:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 22px 27px 0;
border-color: #45AE66 transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -27px;
bottom: -22px;
left: 36%;
}
.bubble0:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 27px 32px 0;
border-color: #00467F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -32px;
bottom: -33px;
left: 36%;
}

.bubble1 
{
position: relative;
width: 16em;
height: 6em;
padding: 0px;
background: #45AE66;
-webkit-border-radius: 32px;
-moz-border-radius: 32px;
border-radius: 32px;
border: #00467F solid 6px;
margin-top: 1em;
margin-bottom: 1em;
}
.bubble1:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 22px 27px 0;
border-color: #45AE66 transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -27px;
bottom: -22px;
left: 36%;
}
.bubble1:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 27px 32px 0;
border-color: #00467F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -32px;
bottom: -33px;
left: 36%;
}

.bubble2
{
position: relative;
width: 18em;
height: 8em;
padding: 6px;
background: #45AE66;
-webkit-border-radius: 32px;
-moz-border-radius: 32px;
border-radius: 32px;
border: #00467F solid 6px;
margin-top: 2em;
margin-bottom: 4em;
}
.bubble2:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 22px 27px 0;
border-color: #45AE66 transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -27px;
bottom: -22px;
left: 36%;
}
.bubble2:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 27px 32px 0;
border-color: #00467F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -32px;
bottom: -33px;
left: 36%;
}

.bubble3
{
position: relative;
width: 20em;
height: 10em;
padding: 20px;
background: #45AE66;
-webkit-border-radius: 32px;
-moz-border-radius: 32px;
border-radius: 32px;
border: #00467F solid 6px;
margin-top: 2em;
margin-bottom: 2em;
}
.bubble3:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 22px 27px 0;
border-color: #45AE66 transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -27px;
bottom: -22px;
left: 36%;
}
.bubble3:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 27px 32px 0;
border-color: #00467F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -32px;
bottom: -33px;
left: 36%;
}

.event{
    width: 145px;
}
.fa-sun-o{
        color: blue;
}
.fa-plus{
    color: green;
}
.fa-minus {
    color: red
}
#thought-bubbleUp{
    position: absolute;
    margin-left: 44%;
    bottom: 24px;
}
#thought-bubbleDown{
    position: absolute;
    margin-left: -58%;
    bottom: 24px;
}
#thought-bubblePop{
    position: absolute;
    top: -16px;
    margin-left: -6%;
}
.bubble2 #thought-bubbleUp{
    position: absolute;
    margin-left: 45%;
    bottom: 35px;
}
.bubble2 #thought-bubbleDown{
    position: absolute;
    margin-left: -57%;
    bottom: 35px;
}
.bubble3 #thought-bubbleUp{
    position: absolute;
    margin-left: 46%;
    bottom: 54px;
}
.bubble3 #thought-bubbleDown{
    position: absolute;
    margin-left: -56%;
    bottom: 54px;
}