.bubble 
{
position: relative;
width: 16em;
height: 6em;
padding: 0px;
background: #45AE66;
-webkit-border-radius: 32px;
-moz-border-radius: 32px;
border-radius: 32px;
border: #00467F solid 6px;
margin-top: 2em;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 22px 27px 0;
border-color: #45AE66 transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -27px;
bottom: -22px;
left: 36%;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 27px 32px 0;
border-color: #00467F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -32px;
bottom: -33px;
left: 36%;
}
.event{
    width: 145px;
}
.fa-sun-o{
        color: blue;
}
.fa-plus{
    color: green;
    padding-right: 1px;
}
.fa-minus {
    color: red
}
#thought-bubbleUp{
    position: absolute;
    margin-left: 44%;
    bottom: 24px;
}
#thought-bubbleDown{
    position: absolute;
    margin-left: -58%;
    bottom: 24px;
}
#thought-bubblePop{
    position: absolute;
    top: -16px;
    margin-left: -6%;
}