.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 112px solid transparent;
    border-right: 112px solid transparent;
    position: absolute;
    top: -30px;
    left: 0%;
}
.hex {
    margin-top: 30px;
    width: 16em;
    height: 6em;
    background-color: #6C6;
    position: relative;
}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 112px solid transparent;
    border-right: 112px solid transparent;
    left: 0%;
}
.event{
    width: 145px;
}
.fa-sun-o{
        color: blue;
}
.fa-plus{
    color: green;
}
.fa-minus {
    color: red
}
#thought-bubbleUp{
    position: absolute;
    margin-left: 44%;
    bottom: 24px;
}
#thought-bubbleDown{
    position: absolute;
    margin-left: -58%;
    bottom: 24px;
}
#thought-bubblePop{
    position: absolute;
    top: -16px;
    margin-left: -6%;
}
.bubble2 #thought-bubbleUp{
    position: absolute;
    margin-left: 45%;
    bottom: 35px;
}
.bubble2 #thought-bubbleDown{
    position: absolute;
    margin-left: -57%;
    bottom: 35px;
}
.bubble3 #thought-bubbleUp{
    position: absolute;
    margin-left: 46%;
    bottom: 54px;
}
.bubble3 #thought-bubbleDown{
    position: absolute;
    margin-left: -56%;
    bottom: 54px;
}